<div class="container">



  <h1>SNACK OVERFLOW:</h1>
  <h2><%= @question.title %></h2>

  <%= @question.content %>

  <% @tags.each do |tag| %>
   <p> <%= Topic.find_by(id: tag.topic_id).name %> </p>
   <% end %>

  <br>
  <br>

  <% Answer.all.each do |answer| %>
    <% if answer.question_id == @question.id %>
      <%= answer.content %>
    <% end %>
  <% end %>

</div>

<div class="comment_list">
  <ul style="list-style: none">
    <% if @comment %>
    <li> <%= @comment.content %> </li>
    <% end %>
  </ul>
</div>
<div class="comment_list">
  <ul style="list-style: none">
    <% @question.comments.all.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <form id='new_comment' method='post' action='/comments'>
    <input type="hidden" name="question_id" value="<%= @question.id %>" >
    <input type="hidden" name="comment[commentable_id]" value= "<%= @question.id %>" >
    <input type="hidden" name="comment[commentable_type]"
    value= "<%= @question.class %>" >
    <input type="text" name="comment[content]" placeholder="Make a comment">
    <input id="comment_submit" type="submit" value="Make a comment">
  </form>
</div>
